{% extends "projects/base.html" %}
{% load static %}
{% block content %}
 <div class="container ">
    <div class="row ">
      {% for project in object_list %}
       <div class="col-md-4 " style="border-top: 200px;">
           <div class="card">
             <div class="card-body">
              <h5 class="card-title">{{ project.name }}</h5>
              <p class="card-text">{{ project.description|truncatechars:150  }}</p>
              <a href="{% url 'project-detail' project.pk %}"
                 class="btn btn-primary">
                  More Details
              </a>
               <a href="{% url 'delete-project' project.pk %}" class="btn btn-danger">Delete</a>
             </div>
          </div>

       </div>
       {% endfor %}
    </div>
 </div>
{% endblock content %}




